<ng-container *ngIf="!(store.errors | async).length">
  <div class="row justify-content-center mb-4">
    <div class="col-8 align-items-center">
      <h4>{{(store.companyName | async)}}</h4>
      <p>Page: {{page + 1}}</p>
    </div>
    <div *ngFor="let filing of (filings | async)" class="col-8 my-2 py-2 filing">
      <div class="row align-items-center">
        <div class="col-2 splitter">
          {{filing.dateFiled}}
        </div>
        <div class="col-2 splitter">
          {{filing.type}}
        </div>
        <div class="col-1 splitter">
          <a target="_blank" [attr.href]="filing.filingHREF">Link</a>
        </div>
        <div class="col-auto form-name">
          {{filing.formName}}
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div *ngIf="page > 0" class="col-auto btn left-button">
      <button type="button" (click)="searchPreviousPage()" class="btn btn-outline-secondary">
        Previous
      </button>
    </div>
    <div *ngIf="!(endData | async)" class="col-auto btn right-button">
      <button type="button" (click)="searchNextPage()" class="btn btn-outline-secondary">
        Next
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(store.errors | async).length">
  <div class="row justify-content-center mt-5">
    <p class="error" *ngFor="let error of (store.errors | async)">
      {{error}}
    </p>
  </div>
</ng-container>
